<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/three.r92.min.js"></script>
    <script src="js/birds.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row" style="background-color:white; height: 12%;">
        </div>
        <div class="row" style="height: 81%;" id="v1">
            <div class="col-md-4 col-sm-12">
                
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="login-card" style="opacity: 0.3; width: 80%; height: 75%; margin-top: 20%; border: 1px solid white; border-radius: 5px; background-color: white"></div>
            </div>
            <div class="col-md-4 col-sm-12">
                &nbsp;
            </div>
        </div>
        <div class="row bg-dark" style="height: 7%">
            <div class="col-sm-12 text-center text-white align-middle" style="font-size: 1ch; padding-top: 2.5ch;">
                All rights Reserved.
            </div>
        </div>
    </div>
    <script> VANTA.BIRDS({ el: "#v1" }) </script>
</body>

</html>