 <% n.forEach(function(v){ %>
 <div class="card">
	<div class="card-body">
	<b><%= v.description %></b><br/>
	<button class="btn btn-success" onclick="location.href='tapprove'" type="submit">Accept</button>
	<button class="btn btn-danger" type="submit">Reject</button>
	</div>
 </div>
<% }) %>
 
